:root {
  --text-color: #FFFFFF !important;
  --background-color: #A08A8C !important;
  /* --text-color-gray: #929da6!important;
  --divider-color: #191919 !important; */
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  color: var(--text-color) !important;
}

body {
  background-color: var(--background-color) !important;
}
