/*—————————————————————————————————————————————*/

/* Variables */
:root {
  --transition: all 0.3s !important;
}

/* Hides certain elements */
.notion-page__icon,
.notion-toggle.bg-gray,
.notion-header__content,
.notion-property__title__icon-wrapper,
.notion-breadcrumb__divider,
.notion-breadcrumb__item {
  display: none !important;
}

/* Super wrapper*/
.super-content {
  max-width: 1170px !important;
  margin: 0px auto !important;
  padding: 0px 48px !important;
}



/*—————————————————————————————————————————————*/
/* Navbar */
.notion-navbar a[href="/"] {
  display: flex !important;
}

.notion-navbar {
  background: none !important;
  box-shadow: none !important;
  position: absolute  !important;
  padding-top: 32px !important;
  padding-left: 32px !important;
}

.notion-navbar > a { padding: 0 !important; }
.notion-navbar>a:hover { background: none !important; }
.notion-breadcrumb__divider { margin: -4px 4px 0 !important; }
.notion-navbar__title {
  overflow: visible !important;
  font-size: 20px !important;
}

/* Quote block */
.notion-quote:first-child {
  padding-top: 32px !important;
  padding-right: 32px !important;
  justify-content: flex-end !important;
  align-items: center !important;
  font-size: 16px !important;
  position: absolute  !important;
  z-index: 9999 !important;
  display: flex !important;
  border: none !important;
  margin: 0 !important;
  right: 0 !important;
  top: 0 !important;
}


.notion-quote:first-child .notion-semantic-string .link {
  font-size: 16px !important;
}

.notion-quote:first-child span,
.notion-quote:first-child .link {
  display: inline !important;
}

.notion-navbar__title {
  color: var(--text-color) !important;
  transition: var(--transition) !important;
  font-weight: 400 !important;
}

notion-navbar__title:hover {
  color: var(--color-text-gray) !important;
  transition: var(--transition) !important;
}

/* For fixed navbar */

/* .notion-navbar {
  position: fixed !important;
}

.notion-quote:first-child {
  position: fixed !important;
}
 */
/*—————————————————————————————————————————————*/
/* Typography */

h1 {
    font-size: 64px !important;
    margin-top: 16px !important;
}

h3 {
    font
}


/*—————————————————————————————————————————————*/
/* Projects */

.notion-collection__header {
    padding: 0px !important;
    margin: 0px 0px 48px 0px !important;
    font-size: 48px !important;
}


.notion-collection-gallery {
    border-top: none !important;
    grid-template-columns: 1fr !important;
}

/* Image */
.notion-collection-card__cover, .notion-collection-card__cover.large > div {
    height: 600px !important;
    max-height: 600px !important;
    border-bottom: none !important;
}

.notion-collection-card__cover img {
    border-radius: 0px !important;
}



.notion-collection-card {
    box-shadow: none !important;
    border-radius: 0px !important; 
    transition: none !important;
    background: transparent !important;
    margin-bottom: 80px !important;
}


/* Project card content */
.notion-collection-card__content, .no-title {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    padding: 0px !important;
    color: var(--text-color) !important;
    margin-top: 16px !important;
}


.notion-collection-card__content > div:first-child {
    font-size: 40px !important;
    padding: 16px 0px
}

.notion-collection-card__content > div:nth-child(2) {
    font-size: 14px !important;
    justify-self: end !important;
}

.notion-collection-card__content > div:nth-child(3) {
 font-size: 16px !important;
}
