/* ———————————————————————————————— */
/* General */
/* ———————————————————————————————— */

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "Space Grotesk", sans-serif !important;
  font-size: 17px !important;
}

:root {
  --text-color: #222 !important;
  --background-color: white !important;
  --gray-text-color: rgba(34, 2, 0, 0.5) !important;
  --secondary-color: #dcdcdc !important;
  --circle: 1px solid #222 !important;
  --link-arrow: url("https://code.benjaminhoppe.co/owl/images/arrow-up-right-light.svg") !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #efefef !important;
    --background-color: #121212 !important;
    --gray-text-color: rgba(255, 255, 255, 0.5) !important;
    --secondary-color: #555 !important;
    --circle: 1px solid #efefef !important;
    --link-arrow: url("https://code.benjaminhoppe.co/owl/images/arrow-up-right-dark.svg") !important;
  }
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  color: var(--text-color) !important;
}

/* Hides Notion elements */
.super-navbar,
.notion-header__title,
.notion-collection__header,
.notion-header,
.notion-collection__header-wrapper {
  display: none !important;
}

/* Super content */
.super-content {
  padding-left: calc(env(safe-area-inset-left) + 40px) !important;
  padding-right: calc(env(safe-area-inset-right) + 40px) !important;
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

/* ———————————————————————————————— */
/* Left column */
/* ———————————————————————————————— */

/* General column styles */
.notion-column {
  padding: 0 !important;
}

.notion-column:first-of-type {
  width: 375px !important;
  height: calc(100vh - 40px) !important;
  padding: 0 0 90px 0 !important;
  position: fixed !important;
}

/* Headings */
/* Should probally group this more globally — Ben  */
.notion-heading {
  font-weight: 400 !important;
}

h1,
h2 {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 17px !important;
  line-height: 150% !important;
}

h2.notion-heading {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  color: var(--gray-text-color) !important;
  font-weight: 400 !important;
}

p {
  font-size: 17px !important;
  line-height: 150% !important;
}

.notion-column:first-of-type > .notion-bulleted-list {
  margin-bottom: 0px !important;
}

/* Link styles */
.notion-semantic-string .link {
  border-bottom: none !important;
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out !important;
}
.notion-semantic-string .link:hover {
  opacity: 0.5 !important;
}
.notion-column a[target="_blank"]:after {
  display: inline-block !important;
  content: " " !important;
  background-image: var(--link-arrow) !important;
  background-size: 17px 17px !important;
  width: 17px !important;
  height: 17px !important;
  margin-left: 0.09rem !important;
  vertical-align: middle !important;
}

@media (prefers-color-scheme: dark) {
  .notion-column a[target="_blank"]:after {
    background-image: var(--link-arrow) !important;
  }
}

/* Hidden divider so it can be used as a spacer */
#page-index .notion-divider {
  border: 1px solid transparent;
  padding: 0;
  margin: auto 0 0 0;
}

/* Bullet list styles */
ul.notion-bulleted-list {
  list-style: none !important;
  list-style-position: outside !important;
  margin: 0 0 1rem 0rem !important;
  padding: 0 !important;
}
li.notion-list-item:before {
  display: inline-block !important;
  content: " ";
  width: 10px !important;
  height: 10px !important;
  vertical-align: middle !important;
  margin: 0 0.8rem 0.15rem 0 !important;
  border: var(--circle) !important;
  border-radius: 9999px !important;
  background: transparent !important;
}

@media (prefers-color-scheme: dark) {
  li.notion-list-item:before {
    border: var(--circle) !important;
  }
}

/* Button styles */
.notion-callout {
  padding: 0 !important;
  margin: 2rem 0 !important;
}
.notion-callout__icon {
  display: none !important;
}
.notion-callout.border {
  border: 0 !important;
}
.notion-callout .link[target="_blank"]:after {
  display: none !important;
}
.notion-callout__content {
  margin: 0 !important;
  padding: 1rem 1rem 1rem 0 !important;
}
.notion-callout a.link {
  border-bottom: none !important;
  background-color: tranparent !important;
  padding: 1rem 2rem !important;
  border: 1px solid var(--secondary-color) !important;
  border-radius: 50px !important;
  color: var(--text-color) !important;
  transition: background-color 0.2s ease-in-out !important;
}
.notion-callout a.link:hover {
  background-color: var(--secondary-color) !important;
  opacity: 1 !important;
}

/* ———————————————————————————————— */
/* Photo gallery */
/* ———————————————————————————————— */

.notion-column:nth-of-type(2) {
  margin-left: calc(375px + 40px) !important;
  width: 100% !important;
}

.notion-collection-gallery {
  border-top: 0 !important;
  padding: 0 !important;
  gap: 40px !important;
  column-count: 3;
  display: block !important;
  width: 100%;
  height: auto;
}

.notion-collection-card,
.notion-collection-card__cover img {
  border-radius: 0 !important;
}

.notion-collection-card {
  box-shadow: none !important;
  background: transparent !important;
  align-self: center !important;
  height: 100% !important;
  margin-bottom: 40px !important;
  display: inline-block !important;
  transition: opacity 0.2s ease-in-out !important;
}

.notion-collection-card:hover {
  background: transparent !important;
  opacity: 0.5 !important;
}

.notion-collection-card__cover.large {
  height: auto;
  max-height: none;
}

.notion-collection-card__cover {
  height: auto !important;
  max-height: none !important;
}

.notion-collection-card__cover.large > * {
  position: relative !important;
}

.notion-collection-card__cover img {
  position: relative !important;
  height: auto !important;
  width: 100% !important;
  border-radius: 0 !important;
  padding-bottom: 0 !important;
}

@media screen and (min-width: 2100px) {
  .notion-collection-gallery {
    column-count: 4 !important;
  }
}

@media screen and (min-width: 1773px) {
  .notion-collection-gallery {
    column-count: 3 !important;
  }
}

@media screen and (max-width: 1294px) {
  .notion-collection-gallery {
    column-count: 2 !important;
  }
}

@media screen and (max-width: 995px) {
  .notion-collection-card {
    max-width: 100% !important;
    width: 100% !important;
  }
  .notion-collection-gallery {
    column-count: 1 !important;
  }
}

/* ———————————————————————————————— */
/* Light switch */
/* ———————————————————————————————— */

[data-theme="light"] {
  --text-color: #222 !important;
  --background-color: white !important;
  --gray-text-color: rgba(34, 2, 0, 0.5) !important;
  --secondary-color: #dcdcdc !important;
  --circle: 1px solid #222 !important;
  --link-arrow: url("https://code.benjaminhoppe.co/owl/images/arrow-up-right-light.svg") !important;
}
[data-theme="dark"] {
  --text-color: white !important;
  --background-color: #121212 !important;
  --gray-text-color: rgba(255, 255, 255, 0.5) !important;
  --secondary-color: #555 !important;
  --circle: 1px solid #efefef !important;
  --link-arrow: url("https://code.benjaminhoppe.co/owl/images/arrow-up-right-dark.svg") !important;
}

.toggle-container {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 0 0 40px 35px !important;
  z-index: 2 !important;
}

input.theme-switch[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 3.25rem;
  height: 1.75rem;
  background: white;
  float: right;
  border-radius: 9999px;
  border: 1px solid var(--secondary-color);
  position: relative;
  background-image: url("https://code.benjaminhoppe.co/owl/images/moon.svg");
  background-position: calc(100% - 5px) 5px;
  background-size: 1rem;
  background-repeat: no-repeat;
  z-index: 2;
}

label:after {
  content: " ";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 1rem;
  height: 1rem;
  background: #121212;
  border-radius: 9999px;
  transition: 0.1s;
}

input:checked + label {
  background: #121212;
  border: 1px solid var(--secondary-color);
  background-image: url("https://code.benjaminhoppe.co/owl/images/sun.svg");
  background-position: 5px 5px;
  background-size: 1rem;
  background-repeat: no-repeat;
  z-index: 2;
}

input:checked + label:after {
  background: white;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 2rem;
}

/* ———————————————————————————————— */
/* Mobile styles */
/* ———————————————————————————————— */

@media screen and (max-width: 764px) {
  .notion-column:first-of-type {
    width: 100% !important;
    height: unset !important;
    padding: 0 0 40px 0 !important;
    position: static !important;
  }

  .notion-column:nth-of-type(2) {
    margin-left: 0px !important;
    width: 100% !important;
  }

  .notion-collection-gallery {
    max-height: unset !important;
  }
  .super-content {
    padding: 40px !important;
  }
}
