.super-navbar,
.notion-header__title,
.notion-collection__header,
.notion-header {
  display: none;
}
.super-content {
  padding-left: calc(env(safe-area-inset-left) + 40px);
  padding-right: calc(env(safe-area-inset-right) + 40px);
  padding-bottom: 10vh;
  padding-top: 40px;
}
.notion-collection-gallery {
  border-top: 0;
  padding: 0;
}
.notion-collection-card,
.notion-collection-card__cover img {
  border-radius: 0;
}
.notion-collection-card {
  box-shadow: none;
}
.notion-collection-card:hover {
  background: transparent;
  opacity: 0.5;
}
h1.notion-heading {
  font-size: 16px;
  margin-bottom: 2rem;
}
h2.notion-heading {
  font-size: 16px;
  color: #bababa;
}
.notion-semantic-string .link {
  border-bottom: none;
  opacity: 1;
}
.notion-semantic-string .link:hover {
  opacity: 0.5;
}
.notion-column a[target="_blank"]:after {
  content: " ";
  background-image: url("images/arrow.svg");
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  margin-left: 0.1rem;
}
.notion-column > .notion-heading:first-of-type {
  margin-top: 0;
}
