@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap') !important;

* {
  font-family: 'DM Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeSpeed !important;
  font-weight: normal !important;
}
