:root {
  --text-color: #000 !important;
  --background-color: #fff !important;
  --color-text-gray: #5A6774 !important;
  --divider-color: #F2F2F2 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff !important;
    --background-color: #000 !important;
    --color-text-gray: #929da6!important;
    --divider-color: #191919 !important;
  }
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  color: var(--text-color) !important;
}

body {
  background-color: var(--background-color) !important;
}


/*—————————————————————————————————————————————*/
/* Misc. */


/* Variables */
:root {
  --transition: all 0.3s !important;
}

/* Hides certain elements */
.notion-page__icon,
.notion-toggle.bg-gray,
.notion-header__content,
.notion-property__title__icon-wrapper,
.notion-breadcrumb__divider,
.notion-collection__header,
.notion-breadcrumb__item {
  display: none !important;
}

/* Loading animation */

body {
    -webkit-animation: fadeIn 1s !important;
    -moz-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
}
h1, h2, h3, .notion-text, .notion-collection, .super-content, .max-width {
    -webkit-animation: fadeInUp 1s !important;
    -moz-animation: fadeInUp 1s !important;
    animation: fadeInUp 1s !important;
}
@keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@keyframes fadeInUp { 0% { transform: translate3d(0,80px,0); } 100% { transform: translate3d(0,0,0); } }
@-moz-keyframes fadeInUp { 0% { transform: translate3d(0,80px,0); } 100% { transform: translate3d(0,0,0); } }
@-webkit-keyframes fadeInUp { 0% { transform: translate3d(0,80px,0); } 100% { transform: translate3d(0,0,0); } }

/* Super wrapper*/
#page-index .super-content.max-width {
  max-width: 1344px !important;
  padding: 0px 48px !important;
}

/* Blog posts wrapper */
.super-content.max-width {
  max-width: 996px !important;
  padding: 0px 48px !important;
}



/* Always show the page title */
.notion-navbar a[href="/"] {
  display: flex !important;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p {
    font-weight: 400 !important;
}

p {
  font-size: 18px !important;
  line-height: 200% !important;
}

/* Width limit only on homepage */
#page-index h1 {
  font-size: 48px !important;
  max-width: 700px !important;
}

.notion-quote > * {
  text-decoration: none !important;
}

.notion-header.page {
  margin-bottom: 0px !important;
  padding: 0px 48px !important;
}

.notion-header__cover.no-cover {
    max-height: 0px !important;
}

/* Divider */
.notion-divider {
    border-bottom: 1px solid var(--divider-color) !important;
}

/*—————————————————————————————————————————————*/
/* Links  */

.notion-link, .link {
  color: var(--color-text-gray) !important;
  text-decoration: none !important;
  border: none !important;
  transition: var(--transition) !important;
}

.notion-link:hover, link:hover {
  color: var(--text-color) !important;
  transition: var(--transition) !important;
}

/*—————————————————————————————————————————————*/
/* Navbar */
.notion-navbar a[href="/"] {
  display: flex !important;
}

.notion-navbar {
  background: none !important;
  box-shadow: none !important;
  position: absolute  !important;
  padding-top: 64px !important;
  padding-left: 48px !important;
}

.notion-navbar > a { padding: 0 !important; }
.notion-navbar>a:hover { background: none !important; }
.notion-breadcrumb__divider { margin: -4px 4px 0 !important; }
.notion-navbar__title {
  overflow: visible !important;
  font-size: 20px !important;
}

/* Quote block */
.notion-quote:first-child {
  padding-top: 64px !important;
  padding-right: 48px !important;
  justify-content: flex-end !important;
  align-items: center !important;
  font-size: 16px !important;
  position: absolute  !important;
  z-index: 9999 !important;
  display: flex !important;
  border: none !important;
  margin: 0 !important;
  right: 0 !important;
  top: 0 !important;
}


.notion-quote:first-child .notion-semantic-string .link {
  font-size: 16px !important;
}

.notion-quote:first-child span,
.notion-quote:first-child .link {
  display: inline !important;
}

.notion-navbar__title {
  color: var(--text-color) !important;
  transition: var(--transition) !important;
  font-weight: 400 !important;
}

notion-navbar__title:hover {
  color: var(--color-text-gray) !important;
  transition: var(--transition) !important;
}

/* For fixed navbar */

/* .notion-navbar {
  position: fixed !important;
}

.notion-quote:first-child {
  position: fixed !important;
}
 */
/*—————————————————————————————————————————————*/
/* Footer */

.notion-quote {
  flex-direction: column !important;
  position: relative !important;
  z-index: auto !important;
  display: flex !important;
  border: none !important;
  height: auto !important;
  right: auto !important;
  left: auto !important;
  padding: 0 !important;
  top: auto !important;
}

.notion-quote span,
.notion-quote .link {
  display: block !important;
  width: 100% !important;
}

.notion-quote .notion-semantic-string .link {
  font-size: 28px !important;
  font-weight: 400 !important;
}

/*—————————————————————————————————————————————*/
/* Blog cards container */

.notion-collection-board__column-header {
  display: none !important;
}

.notion-collection-board {
  display: flex !important;
  border-top: 0px !important;
  margin-top: 96px !important;
}

#page-index .notion-collection-board__column {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
  grid-gap: 32px !important;/* display: flex; */
}

/*——————————————————————*/
/* Blog card */

/* For wider first card on desktop */

#page-index .notion-collection-board__column > div:nth-child(2) {
  grid-column: 1 / 3 !important;
  height: 400px !important;
}

/* Other cards */

#page-index .notion-collection-board__column > div {
  margin-bottom: 0px !important;
  height: 400px !important;
}

.notion-collection-card {
  display: flex !important;
  flex-direction: column-reverse  !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  transition: transform 0.4s !important;
  transform: scale(1) !important;
}

.notion-collection-card:hover {
  background: transparent !important;
  transform: scale(0.94) !important;
  transition: transform 0.4s !important;
}

/* Card image  */
.notion-collection-card__cover {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  z-index: -1 !important;
  border-bottom: 0px !important;
}

.notion-collection-card__cover > * {
  height: 100% !important;
  max-height: 100% !important;
}

/* card date */
.notion-collection-card__content {
  padding: 32px 32px 4px 32px !important;
  font-size: 14px !important;
}

.notion-semantic-string .date {
  color: #fff !important;
}

/* card title  */

.notion-property__title {
  padding: 0px 32px 32px 32px !important;
  color: #fff !important;
  font-size: 24px !important;
}

/*—————————————————————————————————————————————*/
/* Blog post page */

.notion-header__cover, .has-cover {
    max-width: 900px ! important;
    margin: 150px auto 64px auto !important;
    border-radius: 10px !important;
    height: 360px !important;
    max-height: 360px !important;
}


/*—————————————————————————————————————————————*/
/* Mobile styles  */

@media screen and (max-width: 600px) {

  #page-index .super-content {
    margin-top: 160px !important;
  }

  .notion-header__cover.no-cover {
    max-height: 0px !important;
  }

  #page-index .notion-header__cover {
    margin: 48px auto !important;
  }

  .notion-header__cover, .has-cover {
    margin: 150px auto 64px auto !important;
    max-height: 200px !important;
    height: 200px !important;
  }



  .super-content.max-width, #page-index .super-content.max-width {
    padding: 0px 24px !important;
  }

  #page-index h1 {
    font-size: 32px !important;
  }

  .notion-quote:first-child {
    padding: 0px 24px 0px 24px !important;
    justify-content: flex-start !important;
    top: 64px !important;
    font-size: 18px !important;
    width: 100% !important;
  }

  .notion-navbar {
    padding: 24px !important;
  }

 .notion-collection-board {
   margin-top: 64px !important;
  }

  #page-index .notion-collection-board__column > div:nth-child(2) {
    grid-column: 1 / 1 !important;
    height: 500px !important;
  }

  #page-index .notion-collection-board__column > div {
    margin-bottom: 0px !important;
    height: 500px !important;
  }

  #page-index .notion-collection-board__column {
    grid-template-columns: 1fr !important;
  }

  .notion-collection-card {
    grid-column: 1 / 1 !important;
  }

  .notion-header.page {
      padding: 0px 24px !important;
    }
}

/*—————————————————————————————————————————————*/
/* XL */

@media screen and (min-width: 1440px) {
  .notion-quote {
      padding-right: 96px !important;
  }

  .notion-navbar {
      padding-left: 96px !important;
  }
}
